/* STYLING FOR GLOBAL*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{

}
main{
    background-color: #7c7c7c;
   
}
a{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
    color: black;
}

/* STYLING FOR NAV*/

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width:150px;
    height: 60px;
    padding: 24px;
}
.nav_links{
display: flex;
align-items: center;
justify-content: space-around;

}
.nav_link{
    display: flex;
    padding: 12px;
}
.nav_link:hover{
    transform: scale(1.1);
}
.rank_btn{
    background-color: rgb(0, 128, 68);
    padding: 16px;
    border-radius: 10%;
}
.profile_img{
    width: 50px;
    height: 50px;
}

/* STYLING FOR INTRO*/
.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* STYLING FOR SERVICES*/
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    height: 100%;
}
.service{
    padding: 62px;
    margin: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1px;
}
.service_logo{
    max-width: 100px;
    height: 150px;
    display: flex;
    justify-content: center;
    
}

.service_desc{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px%;
    padding: 24px;
    
}
/* STYLING FOR UPCOMING*/

.upcoming{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}
.content1{
display: flex;
flex-direction: row;
}
.content2{
    display: flex;
    flex-direction: row;
    }
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    padding: 24px;
    margin: 12px;
}
.content_full{
display: flex;
align-items: center;
justify-content: center;
}
.poster{
    height: 110px;
    width: 90px;
    color: black;
}
.poster:hover{
    transform: scale(1.1);
    color: black;
    opacity: 1.5;
}

.acc_create{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sign_form{
    display: flex;
    flex-direction: column;
}

/* STYLING FOR FOOTER*/

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* STYLING FOR FOOTER*/
.contact_para{
    width: 300px;
}
/* STYLING FOR SIGN IN*/
input{
    width: 300px;
    height: 25px;
}
.form_item{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
