/* STYLING FOR GLOBAL*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{

}
main{
    background-color: #58534d;
   
}

/* STYLING FOR NAV*/

nav{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width:250px;
    height: 100px;
    padding: 24px;
}
.nav_links{
display: flex;
align-items: center;
justify-content: space-around;

}
.nav_link{
    display: flex;
    padding: 12px;

}
.rank_btn{
    background-color: rgb(0, 128, 68);
    padding: 16px;
    border-radius: 10%;
}

/* STYLING FOR INTRO*/
.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* STYLING FOR SERVICES*/

.services{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.service{
    padding: 20px 100px;
}
.service_logo{
    width: 200px;
    height: 150px;
    display: flex;
    
}

.service_desc{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
}
/* STYLING FOR UPCOMING*/

.upcoming{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}
.content1{
display: flex;
flex-direction: column;
}
.content2{
    display: flex;
    flex-direction: column;
    }
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    padding: 24px;
    margin: 12px;
}
.content_full{
display: flex;
align-items: center;
justify-content: center;
}
.poster{
height: 100px;
width: 80px;
drop
}

.acc_create{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sign_form{
    display: flex;
    flex-direction: column;
}

/* STYLING FOR FOOTER*/

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
